# API Backend
VITE_API_URL=http://localhost:8001/api
VITE_API_TIMEOUT=30000

# Endpoints específicos
VITE_SURVEY_ENDPOINT=/survey
VITE_QUESTIONS_ENDPOINT=/questions
VITE_QUESTION_OPTIONS_ENDPOINT=/question-options
VITE_RESPONSES_ENDPOINT=/responses
VITE_ANSWERS_ENDPOINT=/answers
VITE_UPLOAD_ENDPOINT=/files
VITE_USERS_ENDPOINT=/users
VITE_NLP_ENDPOINT=/nlp
VITE_AUTH_ENDPOINT=/auth

# Environment
VITE_ENV=development